.filter-box {
  display: flex;
  flex-direction: row;
  flex-basis: 10%;
  border-color: white;
  border-width: .5;
  border-style: solid;
}

.filter-box div {
  width: 70px;
  text-align: center;
}

.section-share {
  display: flex;
  flex-direction: row;
}

th, td {
  padding: 15px;
  text-align: center;
  width: 100px;
  background: linear-gradient(0deg, white 0%, #337ab7 10%, white 125%);
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

p.links a {
  display: inline-block;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
  padding: 5px;
  margin: auto 5px;
}

.ttn-logo {
  width: 100%;
}