---
layout: default
title: TheThingsNetwork NYC
---
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>The Things Network New York</h1>
            <!--<h3>Exchange Signal Reports with other Amateurs in the NYC/NJ Metro Area</h3>-->
            <h3>Facilitating a Free and Open Source Internet of Things Data Network</h3>
            <h3>Owned and Operated by its Users in the Five Boroughs of New York City</h3>
            <!--<h2><a href="http://doodle.com/poll/25auhuiu23v4knzh#table">Suggest Another Time (no sign-in required)</a></h2>-->
            <br>

            {% include menubar.html %}
          </div>
    </header>

    <!-- Brief -->
    <section id="brief" class="brief">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>About</h2>
                  <p class="lead">Our goal is to build a data network with complete, redundant coverage of the Five Boroughs.</p>
                  <p class="lead">The network is free to access, is based on open source software, and is owned and operated by its users.</p>
                  <p class="lead">There is already tremendous progress being made here in NYC.</p>
                  <p class="lead">We invite you to read our <a href="https://github.com/things-nyc/things-nyc-docs/wiki">Wiki</a> for more details.</p>
                  <p class="lead">If you are interested in getting involved, please join our <a href="http://www.meetup.com/The-Things-Network-NYC-Community-Meetup/">Meetup Group</a></p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Links</h2>
                    {% for link in site.data.links %}
                        <p class="lead"><a href="{{ link.url }}">{{ link.title }}</a></p>
                    {% endfor %}

                    <a href="https://twitter.com/thethingsnyc" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @thethingsnyc</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                  <!--<h4><strong>Start Bootstrap</strong>-->
                    </h4>
                    <p>Contact</p>
                    <ul class="list-unstyled">
                      <li>Initiator: <!--<i class="fa fa-envelope-o fa-fw"></i>-->  <a href="mailto:terry@thethings.nyc">terry@thethings.nyc</a>
                        </li>
                    </ul>
                    <br>
                    <p>Title photo by <a href="https://www.flickr.com/photos/88374602@N06/13118009065/">Bonnie Council</a> used with permission.</p>
                    <!--
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                      -->
                </div>
            </div>
        </div>
    </footer>
